.carrossel {
  box-shadow: 2px 2px 4px black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 260px;
}

img {
  object-fit: cover;
  height: 200px;
  width: 350px;
}

.container-c {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translate(0);
}
